streamlit>=1.25
numpy>=1.24
librosa>=0.10.0
moviepy==1.0.3
scipy>=1.11
soundfile>=0.12
matplotlib>=3.6
Pillow>=9.0
opencv-python
decorator<5.0,>=4.0.2
imageio<3.0,>=2.5
imageio-ffmpeg>=0.2.0
tqdm<5.0,>=4.11.2
requests<3.0,>=2.8.1
proglog<=1.0.0
altair<6,>=4.0
blinker<2,>=1.5.0
cachetools<7,>=4.0
click<9,>=7.0
packaging<26,>=20
pandas<3,>=1.4.0
protobuf<7,>=3.20
pyarrow>=7.0
tenacity<10,>=8.1.0
toml<2,>=0.10.1
typing-extensions<5,>=4.4.0
watchdog<7,>=2.1.5
gitpython!=3.1.19,<4,>=3.0.7
pydeck<1,>=0.8.0b4
tornado!=6.5.0,<7,>=6.0.3
audioread>=2.1.9
numba>=0.51.0
scikit-learn>=1.1.0
joblib>=1.0
pooch>=1.1
soxr>=0.3.2
lazy-loader>=0.1
